body{
    margin: 0;
    width: 100%;
    margin-left: 40px;
    font-family: 'Rad Had Text', sans-serif;
    
}

.bold-text{
    font-weight: 600;
}

.about-delivery{
    color: hsl(14, 65%, 9%);
    display: flex;
    gap: 5px;
    justify-content: center;
}

#confirmation-alert{

    display: none;
    position: fixed;
    z-index: 1001;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: bisque;
    padding: 20px;
    border-radius: 8px;
}
.confirm-item-container{
    display: flex;
}
.overlay{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#list-of-products{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list-item-container{
    flex: 1 1 calc(33.33% - 10px);
    position: relative;
}

.image-item{
    padding: 7px;
}

.name-item{
    font-weight: 600;
    color: hsl(14, 65%, 9%);
}

.category-item{
    color: hsl(7, 20%, 60%);
}
.price-item{
    font-weight: 600;
    color: hsl(14, 86%, 42%);
    
}

.image-item img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid white;
}
.your-cart{
    color: hsl(14, 86%, 42%);
}
#my-order{
    width: 35%;
    text-align: center;
    margin-left: 30px;
}
.order-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: hsl(14, 65%, 9%);
    padding-left: 15px;
}
.total-price-item{
    padding-right: 10px;
    font-weight: bold;
    font-size: 24px;
}
.main-container{
    display: flex;
}
.cart-item-container{
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: rgb(243, 243, 243) solid 2px;

}
.cart-name-item{
    width: 90%;
}
.cart-name-item p{
    margin: 2px;
    text-align: left;
}
.cart-price-box{
    display: flex;
    margin: 7px;
    gap: 10px;
    font-weight: 500;
}
.name-item{
    font-weight: 700;
}
.cancel-button{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid hsl(13, 20%, 52%);
    height: 10px;
    padding: 5px;
}
.change-button{
    display: flex;
    align-items: center;
    background-color: hsl(14, 86%, 42%);
    border-radius: 30px;
    margin: 0px;
    width: 120px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 38px;
    border: 1px solid hsl(14, 86%, 42%);
    
}
.confirm-order{
    display: flex;
    align-items: center;
    background-color: hsl(14, 86%, 42%);
    border-radius: 30px;
    margin-top: 20px;
    width: 160px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 38px;
    border: 1px solid hsl(14, 86%, 42%);
    color: white;
    font-size: 16px;
}
.change-button p{
    margin: 10px;
    width: 40px;
    color: white;
    text-align: center;

}
.remove-icon, .add-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid white;
    height: 10px;
    padding: 5px;
}
.initial-button{
    display: flex;
    height: 38px;
    border-radius: 30px;
    margin: 0px;
    width: 120px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid hsl(7, 20%, 60%);
    background-color: white;
}
.initial-button div p{
    margin: 0px;
    text-align: center;
}
.desserts{
    width: fit-content;
}

/* responsiveness */

@media (max-width: 768px) {
    .list-item-container {
      flex: 1 1 calc(50% - 10px); /* 2 items per row for smaller screens */
    }
  }
  @media (max-width:530px) {
    body{
        margin: 0px;
    }
    .main-container{
        display:block;
    }
    .list-item-container {
        flex: 1 1 calc(100% - 10px); /* 1 item per row for mobile screens */
        width: 70%;
    }
    .list-of-products{
        display: grid;
        place-content: center;
    }
    .image-item img{
        max-width: 100%;
        
    }
    .image-item{
        width: 70%;
        text-align: centery;
    }

    #list-of-products{
        width: 100%;
    }
    #my-order{
        width: 100%;
        position: absolute;
        top: auto;
        right: auto;
        padding-right: 20px;
    }
  }
  
  @media (max-width: 380px) {
    body{
        margin: 0px;
    }
    .main-container{
        display:block;
    }
    .list-item-container {
        flex: 1 1 calc(100% - 10px); /* 1 item per row for mobile screens */
        width: 100%;
    }
    .image-item img{
        max-width: 100%;
        
    }

    #list-of-products{
        width: 100%;
    }
    #my-order{
        width: 100%;
        position: absolute;
        top: auto;
        right: auto;
    }
  }
  