body{
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: beige;
}

.bold-text{
    font-weight: bold;
}
#confirmation-alert{

    display: none;
    position: fixed;
    z-index: 1001;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: bisque;
    padding: 20px;
    border-radius: 8px;
}
.confirm-item-container{
    display: flex;
}
.overlay{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}